html {
  overflow-x: hidden;
}

body {
  color: var(--primaryColor);
  text-align: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  margin-top: 40px;
}

.menu__line {
  /* border: 2px solid white; */
  width: 560px;
  height: 1px;
  background-color: #979797;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 11%;
}

.menu__logo {
  z-index: 2;
  margin-left: 55px;
}

.menu__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 3;
}

.menu__toggle-icon {
  display: block;
  width: 24px;
  height: 21px;
}

/* position, before e after */
.menu__navbar {
  color: var(--tertiaryColor);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40px);
  display: flex;
  gap: 48px;
  padding-right: 64px;
  padding-left: 159px;
  padding-top: 38.5px;
  padding-bottom: 38.5px;
  /* transform: translateX(100%); */
}

.navbar__item > a {
  color: var(--tertiaryColor);
  text-decoration: none;
}

.travel__title {
  color: var(--tertiaryColor);
}

.travel__button {
  color: var(--secondaryColor);
  border-color: var(--tertiaryColor);
  background-color: var(--tertiaryColor);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 272px;
  height: 272px;
}
