.travel__subt {
  color-scheme: var(--primaryColor);
}
.travel__title {
  color: var(--tertiaryColor);
}
.travel__desc {
  color: var(--primaryColor);
}
.travel__button {
  color: var(--secondaryColor);
  border-color: var(--tertiaryColor);
  background-color: var(--tertiaryColor);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 272px;
  height: 272px;
}

/* MOBILE */
@media (max-width: 480px) {
  body {
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 24px;
  }

  .travel__subt {
    font: var(--text-preset-6);
    letter-spacing: var(--text-preset-6-letter-spacing);
  }

  .travel__title {
    margin: 24px;
    font: var(--text-preset-1);
  }

  .travel__desc {
    font: var(--text-preset-9);
  }

  .travel__button {
    font: var(--text-preset-4);
    width: 144px;
    height: 144px;
  }
}

/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .travel__subt {
    font: var(--text-preset-5-desktop);
    letter-spacing: var(--text-preset-5-desktop-letter-spacing);
    margin-top: 128px;
  }

  .travel__title {
    font: var(--text-preset-1-desktop);
  }

  .travel__desc {
    font: var(--text-preset-9);
    letter-spacing: var(--text-preset-9-letter-spacing);
  }

  .travel__button {
    font: var(--text-preset-4-desktop);
    margin-top: 66px;
    margin-bottom: 128px;
  }
}

/* DESKTOP */
@media (min-width: 769px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .travel {
    position: relative;
    min-height: calc(100vh - 140px);
  }

  .travel__left {
    position: absolute;
    left: 11%;
    bottom: 10%;
    width: 445px;
    text-align: left;
  }

  .travel__subt {
    font: var(--text-preset-5);
    letter-spacing: var(--text-preset-5-letter-spacing);
  }

  .travel__title {
    font: var(--text-preset-1);
  }

  .travel__desc {
    font: var(--text-preset-9);
  }

  .travel__right {
    position: absolute;
    right: 12%;
    bottom: 16%;
  }

  .travel__button {
    font: var(--text-preset-4);
  }
}
