/* MOBILE */
@media (max-width: 480px) {
  body {
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 24px;
  }

  .menu__line {
    display: none;
  }

  .menu__toggle {
    display: block;
  }

  .menu__navbar {
    font: var(--text-preset-8-desktop);
    letter-spacing: var(--text-preset-8-desktop-letter-spacing);
    display: none;
    position: absolute;
    top: -24px;
    right: -24px;
    width: min(254px, 70vw);
    min-height: 100vh;
    padding: 118px 0 0 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .menu__navbar--open {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 10;
  }

  .travel__subt {
    font: var(--text-preset-6);
    letter-spacing: var(--text-preset-6-letter-spacing);
  }

  .travel__title {
    margin: 24px;
    font: var(--text-preset-1);
  }

  .travel__desc {
    font: var(--text-preset-9);
  }

  .travel__button {
    font: var(--text-preset-4);
    width: 144px;
    height: 144px;
  }
}

/* TABLET */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu__logo {
    margin-top: 24px;
    margin-left: 40px;
  }

  .menu__navbar {
    font: var(--text-preset-8-desktop);
    letter-spacing: var(--text-preset-8-desktop-letter-spacing);
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 40px;
    padding-left: 117px;
    padding-top: 38.5px;
    padding-bottom: 38.5px;
  }

  .menu__line {
    display: none;
  }

  .travel__subt {
    font: var(--text-preset-5-desktop);
    letter-spacing: var(--text-preset-5-desktop-letter-spacing);
    margin-top: 128px;
  }

  .travel__title {
    font: var(--text-preset-1-desktop);
  }

  .travel__desc {
    font: var(--text-preset-9);
    letter-spacing: var(--text-preset-9-letter-spacing);
  }

  .travel__button {
    font: var(--text-preset-4-desktop);
    margin-top: 66px;
    margin-bottom: 128px;
  }
}

/* DESKTOP */
@media (min-width: 769px) {
  body {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .menu {
    margin-top: 40px;
  }

  .menu__logo {
    margin-left: 55px;
  }

  .menu__navbar {
    font: var(--text-preset-8-bold);
    letter-spacing: var(--text-preset-8-bold-letter-spacing);
  }

  .travel {
    position: relative;
    min-height: calc(100vh - 140px);
  }

  .travel__left {
    position: absolute;
    left: 11%;
    bottom: 10%;
    width: 445px;
    text-align: left;
  }

  .travel__subt {
    font: var(--text-preset-5);
    letter-spacing: var(--text-preset-5-letter-spacing);
  }

  .travel__title {
    font: var(--text-preset-1);
  }

  .travel__desc {
    font: var(--text-preset-9);
  }

  .travel__right {
    position: absolute;
    right: 12%;
    bottom: 16%;
  }

  .travel__button {
    font: var(--text-preset-4);
  }
}
